In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
data = pd.read_csv('../traffic.txt', header=None, delimiter=',')
data.shape

(12672, 228)

In [4]:
data.describe()

,14.000000,69.000000,234.000000,415.000000,215.000000,1056.000000,29.000000,840.000000,226.000000,265.000000,...,676.000000,372.000000,80100.000000,4719.000000,5002.000000,48.000000,38.000000.1,1558.000000,182.000000,2162.000000
count,26303.000000,26303.000000,26303.000000,26303.000000,26303.000000,26303.000000,26303.000000,26303.000000,26303.000000,26303.000000,...,26303.000000,26303.000000,26303.000000,26303.000000,26303.000000,26303.000000,26303.000000,26303.000000,26303.000000,26303.000000
mean,23.264114,112.887237,16.813367,440.336159,200.536175,755.023724,25.943543,1022.556210,214.866897,227.067825,...,2072.084667,1165.569023,200533.703380,10066.121773,15678.777136,350.713645,51.490857,2264.215489,507.021214,3335.928373
std,24.127555,25.552193,49.173081,152.603871,69.728617,249.596706,27.392858,231.481915,83.794081,102.184246,...,1211.423092,736.033396,146055.499311,6568.740127,9737.983097,241.238809,37.229452,545.272351,267.443049,552.717449
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.000000,95.000000,8.000000,334.500000,148.000000,572.000000,13.000000,840.000000,157.000000,149.000000,...,850.000000,452.000000,69300.000000,3639.000000,6456.000000,94.000000,27.000000,1999.000000,233.500000,2920.000000
50%,11.000000,113.000000,8.000000,400.000000,190.000000,725.000000,16.000000,1015.000000,194.000000,204.000000,...,1963.000000,1278.000000,174000.000000,9361.000000,13866.000000,361.000000,37.000000,2319.000000,504.000000,3271.000000
75%,24.000000,130.000000,10.000000,511.000000,239.000000,881.000000,24.000000,1169.000000,253.000000,283.000000,...,3019.000000,1726.000000,267750.000000,14719.500000,24706.000000,505.000000,57.000000,2607.000000,704.000000,3632.000000
max,140.000000,296.000000,601.000000,1170.000000,547.000000,1984.000000,178.000000,2102.000000,600.000000,752.000000,...,5749.000000,3340.000000,764000.000000,28572.000000,39728.000000,1330.000000,205.000000,4449.000000,1369.000000,6035.000000

In [5]:
data.head()

,14.000000,69.000000,234.000000,415.000000,215.000000,1056.000000,29.000000,840.000000,226.000000,265.000000,...,676.000000,372.000000,80100.000000,4719.000000,5002.000000,48.000000,38.000000.1,1558.000000,182.000000,2162.000000
0,18.0,92.0,312.0,556.0,292.0,1363.0,29.0,1102.0,271.0,340.0,...,805.0,452.0,95200.0,4643.0,6617.0,65.0,47.0,2177.0,253.0,2835.0
1,21.0,96.0,312.0,560.0,272.0,1240.0,29.0,1025.0,270.0,300.0,...,817.0,430.0,96600.0,4285.0,6571.0,64.0,43.0,2193.0,218.0,2764.0
2,20.0,92.0,312.0,443.0,213.0,845.0,24.0,833.0,179.0,211.0,...,801.0,291.0,94500.0,4222.0,6365.0,65.0,39.0,1315.0,195.0,2735.0
3,22.0,91.0,312.0,346.0,190.0,647.0,16.0,733.0,186.0,179.0,...,807.0,279.0,91300.0,4116.0,6298.0,75.0,40.0,1378.0,191.0,2721.0
4,20.0,92.0,187.0,340.0,178.0,641.0,18.0,726.0,184.0,177.0,...,802.0,389.0,87000.0,4259.0,5548.0,64.0,39.0,1250.0,185.0,2742.0

In [6]:
data.apply(pd.DataFrame.describe, axis=1)

       count         mean           std  min    25%    50%     75%       max
0      321.0  1404.485981   6035.574610  0.0  203.0  398.0   866.0   95200.0
1      321.0  1384.305296   6096.211003  0.0  191.0  388.0   840.0   96600.0
2      321.0  1325.345794   5967.080549  0.0  178.0  369.0   749.0   94500.0
3      321.0  1292.277259   5813.589074  0.0  160.0  338.0   718.0   91300.0
4      321.0  1270.404984   5593.075132  0.0  157.0  340.0   725.0   87000.0
...      ...          ...           ...  ...    ...    ...     ...       ...
26298  321.0  2305.414330  10490.345811  0.0  320.0  626.0  1503.0  166500.0
26299  321.0  1890.230530   9675.690626  0.0  231.0  466.0  1185.0  158800.0
26300  321.0  1761.613707   9396.335820  0.0  214.0  450.0   997.0  154300.0
26301  321.0  1636.448598   8614.954023  0.0  214.0  416.0   962.0  141900.0
26302  321.0  1439.395639   6912.254747  0.0  191.0  375.0   866.0  112300.0

[26303 rows x 8 columns]