In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('../traffic.txt', header=None, delimiter=',')
data.shape

(12672, 228)

In [3]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,...,218,219,220,221,222,223,224,225,226,227
count,12672.000000,12672.000000,12672.000000,12672.000000,12672.000000,12672.000000,12672.00000,12672.000000,12672.000000,12672.000000,...,12672.000000,12672.000000,12672.000000,12672.000000,12672.000000,12672.000000,12672.000000,12672.000000,12672.000000,12672.000000
mean,52.619539,53.502920,58.040522,56.732434,57.716990,51.347420,50.01542,52.224732,53.118718,51.619957,...,65.624621,54.678622,61.904396,52.681218,54.409485,58.005256,61.635590,62.953827,63.472877,60.261198
std,19.437685,22.794273,13.061206,10.662338,11.821922,17.216007,18.89860,20.990017,13.589848,14.927841,...,6.404720,16.041653,5.077442,14.923074,17.181681,11.706858,5.907869,6.066276,5.934335,8.251305
min,3.300000,5.000000,12.300000,20.300000,12.300000,7.000000,4.20000,7.000000,17.700000,8.600000,...,18.300000,6.400000,14.300000,13.200000,4.800000,17.700000,3.300000,8.300000,9.700000,7.800000
25%,31.500000,28.600000,48.600000,53.100000,48.000000,35.600000,30.60000,31.975000,44.900000,43.600000,...,64.400000,47.500000,60.500000,42.900000,45.300000,58.400000,60.000000,59.600000,60.600000,56.200000
50%,59.700000,65.300000,63.000000,60.800000,61.400000,58.800000,59.60000,62.400000,59.700000,55.100000,...,66.600000,60.800000,63.900000,60.100000,62.500000,62.800000,63.500000,63.300000,63.700000,62.500000
75%,69.100000,69.700000,68.100000,64.000000,67.100000,66.700000,66.40000,66.900000,63.100000,63.425000,...,68.800000,66.700000,64.800000,63.800000,66.800000,63.700000,64.800000,67.500000,67.500000,66.100000
max,80.900000,81.300000,80.400000,72.500000,78.400000,79.100000,78.80000,78.700000,69.200000,75.200000,...,75.700000,74.300000,75.000000,69.600000,75.500000,72.700000,75.000000,74.100000,74.200000,75.700000

In [4]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,218,219,220,221,222,223,224,225,226,227
0,71.1,66.0,64.6,65.6,67.1,71.9,68.6,67.7,65.8,40.9,...,69.1,70.9,65.0,64.5,66.6,66.6,65.0,69.3,67.7,68.9
1,68.1,66.8,61.7,66.7,64.5,71.6,72.3,64.9,65.6,40.1,...,70.6,65.4,65.0,64.9,65.1,67.7,65.0,67.7,68.8,68.8
2,68.0,64.3,66.6,68.7,68.1,70.5,70.2,61.7,63.4,39.6,...,72.2,70.5,65.0,64.7,66.7,68.9,65.0,70.2,69.1,68.7
3,68.3,67.8,65.9,66.6,67.9,70.3,69.8,67.6,63.2,37.6,...,71.2,69.7,65.0,65.2,67.2,66.9,65.0,70.4,67.3,69.0
4,68.9,69.5,61.2,67.4,64.0,68.1,67.0,66.7,64.2,36.8,...,71.3,65.8,65.0,66.3,66.7,66.2,65.0,68.0,67.4,68.1